#wrapper {
  display: flex;
  height: 200px;
  width:800px;
}

#one {
  flex-grow:2;
	background-color: yellow;
}

#two {
  flex-grow:1;
  background-color: green;
  width:100px;
}
#image {
  background-image: url("image_upload.gif");
  background-position: center;
  background-size: cover;
  height: 75%;
  width: 100%;
  right: 0;
  top: 0;
}
