html, body {
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;

    background-color: rgba(27, 176, 19, 0.2);

    main {

      border-style: solid;
      border-color: black;
      border-width: 0;
      border-bottom-width: 2px;

      padding: 0.5em;
      color: white;
      font-size: 95%;

      b, p{
        color: #00000 ;

      }
    }
}

.hidden {
    display: none;
}
